<h1 class=" text-center"> <%= @title %></h1>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="display: block;">

      <div class="carousel-inner">
      	<!-- Indicators -->
  	    <ol class="carousel-indicators">
  	      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

  	      <% for i in 1..@images.count%>
  	           <li data-target="#myCarousel" data-slide-to="<%= i %>" class=""></li>
  	      <% end %>
  	      
  	    </ol>

        <div class="item active">
          <img src="<%= @images[0].imageURL %>" >
        </div>

        <% @images.each do |image| %>
          <div class="item">
            <img src="<%= image.imageURL %>" >
          </div>
        <% end %>
      </div>

      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>

      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>

    </div>
    <!-- /.carousel -->