<h1>Editing game</h1>

<%= render 'form' %>

<div class="text-center">
	<big><strong>
		<%= link_to 'Show', @game %> |
		<%= link_to 'Back', games_path %>
	</strong></big>
</div>

<!-- 
<script type="text/javascript">
	$(".my-form label").addClass("col-lg-2 control-label");
	$(".my-form text-field").addClass("form-control input-lg");
	$(".my-form text-area").addClass("form-control");
	$(".my-form").addClass("form-horizontal");
	$(".my-form submit").addClass("btn btn-primary");
</script>
 -->